deployment/
server-runtime/
.vs/
bin/
obj/
*.sln
*.db
certificate.cer
server/smtp_pwd.txt
server-runtime/smtp_pwd.txt
server/smtp_usr.txt
server-runtime/smtp_usr.txt
server/smtp_dom.txt
server-runtime/smtp_dom.txt
server/admin_email.txt
server-runtime/admin_email.txt
example-lesson-requests.json
.prettierrc
server/config.json
server-runtime/config.json
config-backup.json