/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 300;
}

/* Hero Section */
#hero {
    text-align: center;
    padding: 4rem 2rem;
    border: 2px solid #fbfbfb;
    background: linear-gradient(135deg, #d4e0fc, #f4f4f4);
    color: #333;
    border-radius: 10px;
}

#hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Main Content Styles */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    border-radius: 10px;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projects {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
    font-weight: 300;
    font-weight: bold;
    font-size: larger;
}

.image {
    background-color: #e0e0e0;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: #888888 0px 0px 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}

.image-desc {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

code {
    font-size: larger;
    background-color: #EFEFEF;
    border-radius: 2px;
    color: #e9aa62;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    border-radius: 10px;
}